<h1>About</h1>
<div class="about-container">
  <div class="about-column left">
    <div class="wrapper">
      <img
        class="profile-pic"
        src="../assets/images/profile-pic.jpg"
        alt="profile"
      />
      <div class="about-row">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/seancze"
        >
          <fa-icon
            [icon]="faGithub"
            class="fa-2x"
            [ngStyle]="{ color: isMagicMode ? 'white' : '#333333' }"
          ></fa-icon>
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/sean-chen-sage"
        >
          <fa-icon
            [icon]="faLinkedin"
            class="fa-2x"
            style="color: '#0072b1'"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="about-column right">
    <p>
      <span id="typewriter"></span><br /><span class="name">Sean Chen</span>
    </p>

    <p>
      I'm an aspiring software engineer interested in Mobile / Web development,
      Data Science, Machine Learning, Artificial Intelligence (AI) and well,
      anything tech-related!
      <br /><br />
      I am particularly interested in leveraging technology as a force
      multiplier for social good - Community building, Reducing food wastage,
      Reducing senior isolation and more! Currently, I am working on
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://app.sagexperiences.com"
        class="sage"
        >SAGE (Sharing And Gaining Experiences)</a
      >, an online knowledge-sharing platform dedicated towards reducing social
      inequality by enabling anybody to seek personalised advice safely and
      conveniently. <br /><br />
      Always happy to connect with like-minded individuals! 🙂
    </p>
  </div>
</div>
