@import "../../styles.scss";

.projects-container {
  padding-top: 8rem;
  padding-bottom: 4rem;
  justify-items: center;
}

.projects-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  grid-gap: 2rem 0rem;
  align-items: stretch;
  justify-items: center;
}

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

ng-image-slider {
  margin: 0 0 0 -0.1rem;
}

.projects-card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 1em;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack-image {
  height: 2rem;
}

.tag-container {
  align-self: center;
  padding: 0.5rem;
}

.tag {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
}

#humanPowered {
  font-size: 2.5rem;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

// .tag-brown {
//   background: #d1913c;
//   background: linear-gradient(to bottom, #ffd194, #d1913c);
//   color: #fafafa;
// }

// .tag-red {
//   background: #cb2d3e;
//   background: linear-gradient(to bottom, #ef473a, #cb2d3e);
//   color: #fafafa;
// }

.parchment {
  box-shadow: 2px 3px 10px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
}

.magic-mode {
  @media (min-width: 1024px) {
    &:hover {
      transition: 0.3s ease-in-out;
      transform: scale(1.05);
      filter: grayscale(0%);
    }
    filter: blur(2px) opacity(50%);
  }
}

.magic-mode.has-hovered {
  filter: grayscale(0%);
}

.card-body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card-footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
  justify-content: space-between;
}

// GITHUB & YOUTUBE ICONS
.other-links-wrapper {
  display: inline-flex;
  list-style: none;
}

.other-links-wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.other-links-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.other-links-wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.other-links-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.other-links-wrapper .icon:hover span,
.other-links-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.github {
  color: $github-grey;
}

.youtube {
  color: $youtube-red;
}

.other-links-wrapper .github:hover,
.other-links-wrapper .github:hover .tooltip,
.other-links-wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.other-links-wrapper .youtube:hover,
.other-links-wrapper .youtube:hover .tooltip,
.other-links-wrapper .youtube:hover .tooltip::before {
  background: #ff0000;
  color: #ffffff;
}

.call-to-action-container {
  align-self: center;
}

.call-to-action {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: large;
  color: inherit;
  text-decoration: none;
  background-color: $artyclick-amber;
  transition: 0.3s ease-in-out;
  &:hover {
    border-color: $artyclick-amber;
    box-shadow: 0 0.1rem 1rem $artyclick-amber;
    background-color: $artyclick-amber;
    color: white;
  }
}
