@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/font/Montserrat-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Halloween";
    src: url("/font/Halloween-Bold-Grunge.otf");
  }
}

@layer components {
  .parchment {
    @apply shadow-[2px_3px_10px_black,inset_0_0_60px_#8a4d0f] bg-[#fffef0];
  }

  .magic-card {
    @apply lg:blur-[2px] lg:opacity-50 transition-all duration-300 ease-in-out;
  }

  .magic-card.hovered-card {
    @apply lg:blur-none lg:opacity-100;
  }
}

/* this allows us to apply the linear gradient background in the hero component using human-readable colour names in pure css*/
:root {
  --orange-yellow-crayola: #ffd166;
  --paradise-pink: #ef476f;
  --vivid-sky-blue: #5bc3eb;
  --caribbean-green: #06d6a0;
}
