@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/font/Montserrat-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "Halloween";
    src: url("/font/Halloween-Bold-Grunge.otf");
  }
}

:root {
  --orange-yellow-crayola: #ffd166;
  --paradise-pink: #ef476f;
  --vivid-sky-blue: #5bc3eb;
  --caribbean-green: #06d6a0;
}
