// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sean-chen-primary: mat.define-palette(mat.$red-palette);
$sean-chen-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$sean-chen-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sean-chen-theme: mat.define-light-theme(
  (
    color: (
      primary: $sean-chen-primary,
      accent: $sean-chen-accent,
      warn: $sean-chen-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sean-chen-theme);

/* You can add global styles to this file, and also import other style files */
$paradise-pink: #ef476fff;
$orange-yellow-crayola: #ffd166ff;
$caribbean-green: #06d6a0ff;
$midnight-green-eagle-green: #073b4cff;
$vivid-sky-blue: #5bc3ebff;
$github-grey: #333333;
$youtube-red: #ff0000;
$artyclick-amber: #fbc200;
$background-primary: #fffaf4;
$background-primary-dark: #ffe3c1;
$parchment: #fcf5e5;
$dark-pastel-purple: #9a6dd7;
$alice-blue: #eff7ff;

.magic-mode-global {
  // must be at most 32x32
  cursor: url("./assets/images/cursor_wand_two_small.png"), auto;
  background-color: #303030;
  font-family: "halloween", sans-serif;
  &:not(#home, nav) {
    color: $dark-pastel-purple;
  }
  p {
    font-family: "montserrat", sans-serif;
    color: $parchment;
  }
  .card-body > p {
    color: black;
  }
}

@font-face {
  font-family: magic-school;
  src: url("./assets/font/MagicSchoolOne.ttf") format("truetype");
}
@font-face {
  font-family: halloween;
  src: url("./assets/font/Halloween-Bold-Grunge.otf") format("opentype");
}

@font-face {
  font-family: montserrat;
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: montserrat;
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
}

// Set all scrolling to smooth
html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: $background-primary;
  margin: 0;
}

.rounded {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
}
