/* You can add global styles to this file, and also import other style files */
$paradise-pink: #ef476fff;
$orange-yellow-crayola: #ffd166ff;
$caribbean-green: #06d6a0ff;
$midnight-green-eagle-green: #073b4cff;
$vivid-sky-blue: #5bc3ebff;
$github-grey: #333333;
$youtube-red: #ff0000;
$artyclick-amber: #fbc200;
$background-primary: #fffaf4;
$background-primary-dark: #ffe3c1;
$parchment: #fcf5e5;
$dark-pastel-purple: #9a6dd7;
$alice-blue: #eff7ff;
